:root {
    --bg-botao: #ffffff;
    --bd-botao: solid 1px #888;
}

.botao{
    font-size: 1.4rem;
    background-color: var(--bg-botao);
    border: none;
    border-right: var(--bd-botao);
    border-bottom: var(--bd-botao);
    outline: none;
}

.botao:active{
    background-color: rgba(81, 89, 100, 0.39);
    color: #FFF;
    border-color: rgba(81, 89, 100, 0.39);
}

.botao.dobro{
    grid-column: span 2;
}

.botao.triplo{
    grid-column: span 3;
}

.botao.operacao{
    background-color: rgba(11, 38, 59, 0.801);
    color: #FFF;
    border-color: rgba(11, 38, 59, 0.801);
}

.botao.igual{
    background-color: rgba(219, 85, 103, 0.801);
    color: #FFF;
    border-color: rgba(219, 85, 103, 0.801);
}

.botao.igual:active{
    background-color: rgba(226, 150, 207, 0.836);
}

.botao.operacao:active{
    background-color: rgba(190, 130, 175, 0.4);
}

